.footer {
    padding: 0px;
}
.container-fluid{
    height: 100%;
}
.logo-ht{
    width: 100%;
    margin-top: 10px;
}
body{
    background-color: none;
}
.fas{
    font-size: 18px !important;
}
@media screen and (max-width: 600px) {
    .logo-ht{
        width: 100%;
        margin: 10px;
    }
}